.footer {
	background-color: var(--accent);
	padding: 50px 0;
	font-size: 32px;
    color: #000000;
	

}

.footer__container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


.footer__list{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer__link{
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: var(--accent-second);
	text-transform: uppercase;

    &:hover, :focus{
		color: #9a7968;
	}
}

