.socials {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.socials__list {
    display: flex;
    gap: 20px;
}
.socials__item {
    width: 50px;
    border-radius: 15px;
    
    &:hover, :focus{
        background-color: #9a7968;
    }
}


.socials__email {
    display: flex;
    align-items:center;
}
.socials__email--img {
    width: 35px;
    margin-right: 10px;
}
.socials__email--text {
    font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: var(--accent-second);
	text-transform: uppercase;
    cursor: pointer;

    &:hover, :focus{
		color: #9a7968;
	}

}