<section class="contact container">
    <div class="contact__left">
        <img class="contact__img" src="./img/contacts/photo-4.jpg" alt="photo" />
      </div>
      
  <div class="contact__right">    
    <address>            
        <ul class="contact__list">
           <li class="contact__item">
               <img src="./img/contacts/address.png" alt="email" class="contact__icon">
               <a href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9" target="_blank" rel="noopener noreferrer" class="contact__address">
                Польща, м. Варшава</a>
           </li>
           <li class="contact__item">
            <img src="./img/contacts/email.png" alt="email" class="contact__icon">
              <a href="mailto:ira.past.photo@gmail.com" class="contact__mail">ira.past.photo@gmail.com</a>
           </li>
         </ul>
         </address>

         <ul class="socials__list">
            <li class="socials__item">
                <a href="https://www.instagram.com/ira.past.photo/" class="footer__link" target="_blank">
                    <img src="./img/contacts/inst.svg" alt="instagram" class="socials__item--img">
                </a>
            </li>
            <li class="socials__item">
                <a href="https://www.tiktok.com/@ira.past.photo?_t=8l3tZtUqIwj&_r=1" class="footer__link" target="_blank">
                    <img src="./img/contacts/tiktok.svg" alt="tiktok" class="socials__item--img">
                </a>
            </li>
        </ul>
  </div>  
</section>
