<footer class="footer">
    <div class="footer__container container">
        <div class="logo">
            <a href="./index.html" class="logo__link">
                <img src="./img/logo/logo-beige.png" alt="logo" class="logo__img">
            </a>
        </div>

        <ul class="footer__list">
            <li class="footer__item">
                <a href="./index.html" class="footer__link lng-footerhome">Головна</a>
            </li>
            <li class="footer__item">
                <a href="./portfolio.html" class="footer__link lng-footerportfolio">Портфоліо</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link lng-footerprice">Прайс</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link lng-footercontact">Контакти</a>
            </li>
        </ul>

        <div class="socials">
            <ul class="socials__list">
                <li class="socials__item">
                    <a href="https://www.instagram.com/ira.past.photo/" class="footer__link" target="_blank">
                        <img src="./img/footer/inst.svg" alt="instagram" class="socials__item--img">
                    </a>
                </li>
                <li class="socials__item">
                    <a href="https://www.tiktok.com/@ira.past.photo?_t=8l3tZtUqIwj&_r=1" class="footer__link" target="_blank">
                        <img src="./img/footer/tiktok.svg" alt="tiktok" class="socials__item--img">
                    </a>
                </li>
            </ul>

            <div class="socials__email">
                <span>
                    <img src="./img/footer/email.png" alt="email" class="socials__email--img">
                </span>
                <p class="socials__email--text">ira.past.photo@gmail.com</p>
            </div>
        </div>
        
    </div>
    
</footer>