<section class="hero">
    <div class="container"
   
    >
    <h1 class="hero__title lng-herotitle">
        Той хто шукає красоту, завжди її знайде</h1>
    <p class="hero__text lng-herotext">
        " Що мені подобається у фотографії , це те,
        що в ній спійманий момент, який пішов назавжди,
        який неможливо відтворити. "
    </p>

    <div class="hero__text-row">
        <div class="hero__text-line"></div>
        <p class="hero__text hero__text--author">
        Karl Lagerfeld
        </p>
    </div>
    
    </div>
    
</section>