<section class="portfolio container">
    <h2 class="title">Портфоліо</h2>

    <div class="portfolio__content">
        <div class="portfolio__two">
            <img src="./img/portfolio/photo-1.jpg" alt="photo" class="portfolio__two--img"
                 data-aos="zoom-in-right"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
                 >
            <img src="./img/portfolio/photo-2.jpg" alt="photo" class="portfolio__two--img"
            data-aos="zoom-in-left"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
        </div>


        <div class="portfolio__three">
            <img src="./img/portfolio/photo-3.jpg" alt="photo" class="portfolio__three--img"
            data-aos="zoom-in-right"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
            <img src="./img/portfolio/photo-4.jpg" alt="photo" class="portfolio__three--img"
            data-aos="zoom-in"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
            <img src="./img/portfolio/photo-5.jpg" alt="photo" class="portfolio__three--img"
            data-aos="zoom-in-left"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
        </div>


        <div class="portfolio__two">
            <img src="./img/portfolio/photo-6.jpg" alt="photo" class="portfolio__two--img"
            data-aos="zoom-in-right"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
            <img src="./img/portfolio/photo-7.jpg" alt="photo" class="portfolio__two--img"
            data-aos="zoom-in-left"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
        </div>


        <div class="portfolio__two">
            <img src="./img/portfolio/photo-8.jpg" alt="photo" class="portfolio__two--img"
            data-aos="zoom-in-right"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
            <img src="./img/portfolio/photo-9.jpg" alt="photo" class="portfolio__two--img"
            data-aos="zoom-in-left"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
        </div>


        <div class="portfolio__three">
            <img src="./img/portfolio/photo-10.jpg" alt="photo" class="portfolio__three--img"
            data-aos="zoom-in-right"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
            <img src="./img/portfolio/photo-11.jpg" alt="photo" class="portfolio__three--img"
            data-aos="zoom-in"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
            <img src="./img/portfolio/photo-12.jpg" alt="photo" class="portfolio__three--img"
            data-aos="zoom-in-left"
     data-aos-easing="ease-in-sine"
     data-aos-delay="300"
    data-aos-duration="2500"
            >
        </div>
    </div>
</section>