<section class="price container">
    <div class="price__box">
        <h1 class="price__title title">Price list</h1>

    <ul class="price__list">
        <div class="price__list--box">
            <li class="price__item">
            <div class="price__subtitle">
                <h3 class="subtitle">Індивідуальна</h3>
                <span class="price__span">180zł</span>
            </div>
            <ul class="description__list">
                <li class="description__item">
                    1-1,5 годинна фотосесія
                </li>
                <li class="description__item">
                    доступ до всіх фотографій
                </li>
                <li class="description__item">
                    10 фотографій в обробці
                </li>
                <li class="description__item">
                    кожне наступне фото - 20zł/шт
                </li>
                <li class="description__item">
                    допомога при позуванні, виборі локалізації, стилю
                </li>
            </ul>
        </li>
        <li class="price__item">
            <h3 class="price__subtitle">
                2-особова
                <span class="price__span">250zł</span>
            </h3>
            <ul class="description__list">
                <li class="description__item">
                    2 годинна фотосесія
                </li>
                <li class="description__item">
                    доступ до всіх фотографій
                </li>
                <li class="description__item">
                    20 фотографій в обробці
                </li>
                <li class="description__item">
                    кожне наступне фото - 20zł/шт
                </li>
                <li class="description__item">
                    допомога при позуванні, виборі локалізації, стилю
                </li>
            </ul>

        </li>
        </div>
        
        <li class="price__item price__item--last">
            <h3 class="price__subtitle">
                Інші
                <span class="price__span--text">Індивідуальна ціна</span>
            </h3>
            <ul class="description__list">
                <li class="description__item">
                    урочисті події
                </li>
                <li class="description__item">
                    предметна
                </li>
                <li class="description__item">
                    сімейна
                </li>
                <li class="description__item">
                    бізнес
                </li>
            </ul>
        </li>
    </ul>
    </div>
    
</section>